test.*
*.o
*.so
*reload*
*.out
*.pyc
*.csv
.spyderproject
sqlite.db
.sconsign.dblite
*~
*.dump
*.zip

.gitignore
fold.py

/config.txt
/pokerbot.sh

/log
/logs
/data

/backup

/big_hand_data

massive_params.txt

